.link {
  color: var(--color-primary-light);
  line-height: 1.5;
  text-decoration: none;
  transition: color 0.3s;
  margin-bottom: 18px;

  @media screen and (min-width: $bp-desktop) {
    margin-bottom: 16px;
  }
}

.link:hover {
  color: var(--color-brand);
}
